Package: ros-noetic-pairs-uav-dji-tello-api
Version: 1.0.0-0focal
Architecture: amd64
Maintainer: Thanh Nguyen Canh <canhthanh@vnu.edu.vn>
Installed-Size: 831
Depends: libc6 (>= 2.14), libconsole-bridge0.4, libgcc-s1 (>= 3.0), libstdc++6 (>= 9), ros-noetic-cmake-modules, ros-noetic-geometry-msgs, ros-noetic-mavros-msgs, ros-noetic-nav-msgs, ros-noetic-pairs-lib, ros-noetic-pairs-msgs, ros-noetic-pairs-uav-hw-api, ros-noetic-pluginlib, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-sensor-msgs, ros-noetic-std-msgs
Section: misc
Priority: optional
Description: DJI TELLO API for MRS UAV System
